<main>
 <div class="container">
  <div class="row">
   <div class="col-lg-6">
    <h1>User info</h1>
     
     <%= form_with(model: @user,local: true) do |f| %>
     <% if @user.errors.any? %>
      <div class="text-danger">
     <%= @user.errors.count %>error prohibited this obj from being saved:
      </div>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
     <% end %>

 
     <%#= form_with(model: @user,local: true) do |f| %>
      <lebel for="inputNmae">Name</lebel>
      <div><%= f.text_field :name,autofocus: true,id:"inputNmae",placehplder:"名前" %></div>
  
      <label for="imputImage">Image</label>
      <div><%= f.file_field :profile_image,placeholder:"プロフィール画像",accept: "image/*" %></div>
  
      <lebel for="inputIntroduction">Introduction</lebel>
      <div><%= f.text_field :introduction,autofocus: true,id:"inputIntroduction",placeholder: "自己紹介" %></div>
  
      <div><%= f.submit"Update User" %></div>
      <% end %>
    </div>
  </div>
 </div>
</main>

